<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>개인정보처리방침</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{%static 'assets/img/car_favicon.png' %}" rel="icon">
  <link href="{%static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{%static 'assets/css/main.css' %}" rel="stylesheet">

</head>

<style>
  * {
    margin: 10px;
    padding: 0;
    line-height: 1.25;
    box-sizing: border-box;
    font-size: 13px;
  }

  body {
    background-color: rgb(244, 245, 249);
    background-size: 100px;
  }


  .card {
    padding: 10px 10px;
    flex: 1;
    background-color: #fff;
    border-color: #eeecec;
    border-radius: 9px;
    width: 85%;
    margin: 100px auto;
    position: relative;
  }

  .card .hd {
    border-bottom: 1px solid #e9ebf2;
  }

</style>


<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a class="logo d-flex align-items-center">
      <h1>BBUMAS</h1>
    </a>
  </div>
</header><!-- End Header -->
<!-- End Header -->


<body>
  <div class="card">
    <div class="hd">
      <h3>개인정보처리방침</h3>
      <p>쉽고 편리한 온라인 서비스를 제공하겠습니다.</p>
    </div>
    <div class="con">
      <ol>
        <ol class="list_style_number">
          <li>
            <h4 style="font-size:17px; color:#666;">1. 개인정보의 수집 및 이용 목적(개인정보보호법 제15조)</h4>
                    <p>도로정비 자동화 시스템은 관계법령 등에서 정하는 소관 업무의 수행을 위하여 다음과 같이 개인정보를 수집 및 이용합니다. 수집된 개인정보는 정해진 목적 이외의 용도로는 이용되지 않으며 수집 목적이 변경될 경우 사전에 알리고 동의를 받을 예정입니다. </p>
                    <p>※ 관계법령 등 : 민원사무 처리에 관한 법률 및 동법 시행령, 행정안전부의 설치와 운영에 관한 법률, 전자정부법 및 동법 시행령 등</p>
                    <ul>
                        <li>가. 민원사무 접수·처리·사후관리 서비스 제공민원신청서에 포함된 개인정보는 민원의 접수·처리 등 소관 업무 수행을 위해 행정·공공기관에서 이용합니다.</li>
                        <li>나. 타 행정·공공기관 시스템 이용민원사무의 전자적 처리를 위해 내부적으로 타 시스템 연계 및 이용 시 개인정보를 이용합니다.</li>
                        <li>다. 도로정비 자동화 시스템 정책지원 도로정비 자동화 시스템 서비스 향상 및 정책평가를 위하여 접수된 민원은 관계 법령에 따라 분석·평가 및 처리결과의 사후관리를 시행합니다.</li>
                    </ul>
                    <br>
                    <h4 style="font-size:17px; color:#666;">2. 수집하는 개인정보의 항목(개인정보보호법 제15조, 제16조)</h4>
                    <ul>
                        <li>가. 필수항목: 위치 정보(GPS)</li>
                        <li>나. 자동수집항목: IP(Internet Protocol)주소, 이용내용의 기록- 부정한 방법으로 타인명의를 사용하는 경우에 대비하기 위해 정보이용내역 등을 자동수집 합니다.</li>
                    </ul>
                    <p>※ 부정한 방법으로 타인명의 사용 시, 주민등록법 제37조(벌칙)에 의해 처벌 받을 수 있습니다. </p>
                    <br>
                    <h4 style="font-size:17px; color:#666;">3. 개인정보의 보유 및 이용기간(공공기록물 관리에 관한 법률 시행령 제26조)</h4>
                    <p>도로정비 자동화 시스템은 원칙적으로 개인정보 보존기간이 경과하거나, 처리목적이 달성된 경우에는 지체 없이 개인정보를 파기합니다. 다만, 다른 법령에 따라 보존하여야 하는 경우에는 그러하지 않을 수 있습니다.</p>
                    <ul>
                        <li><strong class="useAgreeFont2">1) 신고, 제안: 3년</strong></li>
                        <li><strong class="useAgreeFont2">2) 회원정보: 회원탈퇴시 즉시 파기</strong></li>
                        <li><strong class="useAgreeFont2">3) 자동수집항목 중 IP주소: 1년</strong></li>
                    </ul>
                    <br>
                    <h4 style="font-size:17px; color:#666;">4. 동의를 거부할 권리가 있다는 사실 및 동의 거부에 따른 불이익 내용(개인정보보호법 제16조)</h4>
                    <p>민원 신청 시 수집하는 필요한 최소한의 정보 외의 개인정보 수집에 동의를 거부할 권리가 있으나 최소한의 개인정보 수집동의 거부 시에는 민원 신청 서비스가 제한됩니다.</p>
                  </li>
        </ol>
      </ol>
    </div>
  </div>
    
  </main><!-- End #main -->


  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{%static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{%static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{%static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{%static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{%static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{%static 'assets/js/main.js' %}"></script>

</body>

</html>