<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Join Us</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{%static 'assets/img/car_favicon.png' %}" rel="icon">
  <link href="{%static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{%static 'assets/css/main.css' %}" rel="stylesheet">
  <link href="{%static 'assets/css/new_main.css' %}" rel="stylesheet">
  <!-- =======================================================
  * Template Name: Logis
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>BBUMAS</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          {% if user.is_authenticated and user.special %}
            <li><a href="/video">Video</a></li>
          {% endif %}
          <li class="dropdown"><a href="/post"><span>Post</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/post">신고 게시판 목록</a></li>
              {% if user.is_authenticated %}
                <li><a href="/post/posting">신고하기</a></li>
              {% endif %}
            </ul>
          </li>
          <li><a href="/map">Map</a></li>
          <li><a class="get-a-quote" href="/login" class="active">Login</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    {% comment %} <div class="page-header d-flex align-items-center" style="background-image: url({%static 'assets/img/page-header.jpg' %});"> {% endcomment %}
    <div class="breadcrumbs">
      <div class="short-page-header d-flex align-items-center">
        <div class="container position-relative">
        </div>
      </div>

      <nav>
        <div class="container">
          <ol>
            <li><a href="/">Home</a></li>
            <li>Login</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->
    
    <!-- wrapper -->
    <div>      
      <div class="create" id="create-content">
        <h2 style="text-align: center;">Join us</h2>
        <!-- ID -->
        <form method="post">
          {% csrf_token %}
          <div class="form-field">
            <label for="{{ form.username.id_for_label }}">ID:</label>
            {{ form.username }}
          </div>
          <div class="error_next_box" style="display:none;"></div>

          <!-- password 필드 -->
          <div class="form-field">
            <label for="{{ form.password.id_for_label }}">비밀번호:</label>
            {{ form.password }}
          </div>
          <div class="error_next_box" style="display:none;"></div>

          <!-- 비밀번호 확인 필드 -->
          <div class="form-field">
            <label>비밀번호 확인:</label>
            <input type="password" id="pswd2" name="password_check">
          </div>
          <div class="error_next_box" style="display:none;"></div>

          <!-- name 필드 -->
          <div class="form-field">
            <label for="{{ form.name.id_for_label }}">이름:</label>
            {{ form.name }}
          </div>
          <div class="error_next_box" style="display:none;"></div>

          <!-- email 필드 -->
          <div class="form-field">
            <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
          </div>
          <div class="error_next_box" style="display:none;"></div>

          <!-- phone 필드 -->
          <div class="form-field">
            <label for="{{ form.phone.id_for_label }}">전화번호:</label>
            {{ form.phone }}
          </div>
          <div class="error_next_box" style="display:none;"></div>
          <br>
          <button type="submit" class="joinus">Create</button>
        </form>
      </div>
      
        <!-- content-->
      </form>
    </div>

    
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>BBUMAS</span>
          </a>
          <p>Black Box Urban Maintenance Automation System</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Policy</h4>
          <ul class="policy_link">
            <li>
              <a href="#" onclick="window.open('/login/policy','개인정보 처리방침', 'resizable=no width=800 height=600'); return false">개인정보 처리방침</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/">Main</a></li>
            <li><a href="/video">Black box Upload</a></li>
            <li><a href="/post">Alert Board</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/join">Join</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            대전 서구 문정로48번길 30 <br>
            (탄방동)<br>
            <br>
            <!-- <strong>Phone:</strong> +1 5589 55488 55<br> -->
            <strong>Email:</strong> ktaivle@kt.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>KT</span></strong>. All Rights Reserved.
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  
  <!-- Template Main JS File -->
  <script src="{%static 'assets/js/main.js' %}"></script>
  <script src="{%static 'assets/js/new_main.js'%}"></script>    

</body>

</html>