<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>신고 게시판</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{%static 'assets/img/car_favicon.png' %}" rel="icon">
  <link href="{%static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <!-- Pagination CSS-->
  <link href="{%static 'assets/vendor/bootstrap/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{%static 'assets/css/main.css' %}" rel="stylesheet">

</head>


<body>

  <style>
    tbody td a {
      display:block;
    　width:100%;
    　height:100%;
    }

    a {
      text-decoration: none;
    }
    
    .page-link {
      color: #000; 
      background-color: #fff;
      border: 1px solid #ccc; 
    }
    
    .page-item.active .page-link {
      z-index: 1;
      color: #555;
      font-weight:bold;
      background-color: #edeff3;
      border-color: #c6c9cf;  
    }
    
    .page-link:focus, .page-link:hover {
      color: #000;
      background-color: #fafafa; 
      border-color: #c6c9cf;
    }

    .col-md-7{
      flex:0 0 auto;
      width:30%;
    }

    #listTitle:hover {
      background-color: #edeff39b;
    }

    #listTable_info {
      font-size: 15px;
    }
  </style>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <h1>BBUMAS</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          {% if user.is_authenticated and user.special %}
            <li><a href="/video">Video</a></li>
          {% endif %}
          <li class="dropdown"><a href="/post" class="active"><span>Post</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/post" class="active">신고 게시판 목록</a></li>
              {% if user.is_authenticated %}
                <li><a href="/post/posting">신고하기</a></li>
              {% endif %}
              <li><a href="/post/faq">FAQ</a></li>
            </ul>
          </li>
          <li><a href="/map">Map</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}" class="get-a-quote">Logout</a></li>
          {% else %}
            <li><a class="get-a-quote" href="/login">Login</a></li>
          {% endif %}
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="short-page-header d-flex align-items-center">
        <div class="container position-relative">
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="/">Home</a></li>
            <li>Post</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->
          
  </main><!-- End #main -->
    
    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">
        <div class="side-control">

          <!-- 게시판 목록 -->
          <table id="listTable">
            <thead>
                <th style="width:24%; border-right: 2px solid #fff;">등록일</th>
                <th style="width:63%; border-right: 2px solid #fff;">제목</th>
                <th style="width:23%; border-right: 2px solid #fff;">작성자</th>
            </thead>
            <tbody id="board">
              {% for post in posts %}
                <tr id="listTitle">
                  <td style="border-right: 2px solid #fff;"><a href={{ post.id }}>{{ post.created_at }}</a></td>
                  <td style="border-right: 2px solid #fff; text-align: left; padding-left: 20px;"><a href={{ post.id }}>{{ post.post_title }}</a></td>
                  <td style="border-right: 2px solid #fff;"><a href={{ post.id }}>{{ post.author }}</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% if user.is_authenticated %}
            <button class="separator3" style="float:right; box-shadow: 2px 2px 2px #dedede;" onClick="location.href='/post/posting'">작성하기</button>
          {% endif %}      
        </div>
      </div>
    </section>


  <!-- Pagination -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
 
  <script>
    $(document).ready(function() {
      $('#listTable').DataTable({
          "order": [[ 0, "desc" ]]
      });
    });
  
  </script>
  <!-- Pagination End -->


  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>BBUMAS</span>
          </a>
          <p>Black Box Urban Maintenance Automation System</p>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/join">Join</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="/">Main</a></li>
            {% if user.is_authenticated and user.special %}
              <li><a href="/video">Upload Videos</a></li>
            {% endif %}
            <li><a href="/post">Alert Board</a></li>
            {% if user.is_authenticated %}
              <li><a href="/post/posting">Write Reports</a></li>
            {% endif %}
            <li><a href="/post/faq">FAQ</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Policy</h4>
          <a href="#" style="color: #ffffff99;" onclick="window.open('/login/policy','개인정보 처리방침', 'resizable=no width=800 height=600'); return false">개인정보 처리방침</a>
          <br><br><br>
          
          <h4>Contact Us</h4>
          <p style="color: #ffffff99;">
            대전 서구 문정로48번길 30 <br>
            (탄방동)<br>
            <strong style="color: #fff;">Email:</strong> ktaivle@kt.com<br>
          </p>
        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>KT</span></strong>. All Rights Reserved.
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{%static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{%static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{%static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{%static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{%static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <script src="{%static 'assets/vendor/bootstrap/js/jquery.dataTables.min.js' %}"></script>
  <script src="{%static 'assets/vendor/bootstrap/js/dataTables.bootstrap5.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{%static 'assets/js/main.js' %}"></script>

</body>

</html>