<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>신고 게시글 작성</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{%static 'assets/img/car_favicon.png' %}" rel="icon">
  <link href="{%static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{%static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Logis
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>BBUMAS</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          {% if user.is_authenticated and user.special %}
            <li><a href="/video">Video</a></li>
          {% endif %}
          <li class="dropdown"><a href="/post" class="active"><span>Post</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/post">신고 게시판 목록</a></li>
              {% if user.is_authenticated %}
                <li><a href="/post/posting">신고하기</a></li>
              {% endif %}
              <li><a href="/post/faq">FAQ</a></li>
            </ul>
          </li>
          <li><a href="/map">Map</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}" class="get-a-quote">Logout</a></li>
          {% else %}
            <li><a class="get-a-quote" href="/login">Login</a></li>
          {% endif %}
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->


  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="short-page-header d-flex align-items-center">
        <div class="container position-relative">
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="/">Home</a></li>
            <li><a href="/post">Post</a></li>
            <li>Posting</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Service Details Section ======= -->
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <section id="service-details" class="service-details">
        <div class="container" data-aos="fade-up">

          <table id="bd-table">

            <tr style="border-bottom: 1px solid #ccc;">
              <td style="background-color:#edeff3;">신고 유형</td>
              <td style="float:left; margin: 10px; margin-left: 40px;">
                {{ form.report_type }}
              </td>
            </tr>

            <tr style="border-bottom: 1px solid #ccc;">
              <td style="background-color:#edeff3;">제목</td>
              <td>
                <div class="title">
                  <dd>{{ form.post_title }}</dd>
                </div>
              </td>
            </tr>

            <tr style="border-bottom: 1px solid #ccc;">
              <td style="background-color:#edeff3; padding: 20px; vertical-align: top;">파일 업로드</td>
              <td>
                <label for="post_image" class="file-label">파일 선택</label>
                {{ form.post_image }} 
                <form id='img_form'>
                  <input type="reset" id="fileReset" style="display: none;"> 
                  <!-- Add this script at the end of your HTML file or inside the <head> tag -->
                    <script>
                      // Reset img_form function
                      function resetImgForm() {
                        const imgForm = document.getElementById("img_form");
                    
                        // Clear the filename and filesize elements
                        document.getElementById("filename").textContent = "";
                        document.getElementById("filesize").textContent = "";
                    
                        // Clear the image preview element
                        const preview = document.getElementById("preview");
                        preview.src = "";
                        preview.style.display = "none";
                    
                        // Remove image file data
                        let fileInput = document.querySelector('#post_image');
                        fileInput.value = '';

                        document.getElementById("latitude").value = "";
                        document.getElementById("longitude").value = "";
                      }
                    </script>
                    
                  
                  <!-- Use this reset button inside the img_form -->
                  <button type="button" onclick="resetImgForm()" class='reset-label'>파일 제거</button>
  
                  <div>
                    <!-- 업로드 파일 정보 테이블 -->
                    <table id="imgfile-table">
                      <tr>
                        <th class="fn-th" scope="row">파일 이름</th>
                        <th class="fs-th" scope="row">파일 크기</th>
                      </tr>
                      <tr>
                        <td id="filename"></td>
                        <td id="filesize"></td>
                      </tr>
                    </table>
                    
                  </div>
                </form>

                <div class="upload-box">
                  <div id="drop-file" class="drag-file">
                    <img src="https://img.icons8.com/pastel-glyph/2x/image-file.png" alt="파일 아이콘" class="image">
                    <p class="message">파일을 선택하거나 이곳에 드래그하여 업로드하세요.</p>
                    <img src="" alt="미리보기 이미지" class="preview" id="preview">
                    {{ form.post_image }}
                  </div>
                </div>
              </td>
            </tr>

            <tr style="border-bottom: 1px solid #ccc;">
              <td style="background-color:#edeff3; padding: 20px; vertical-align: top;">신고 내용</td>
              <td>
                {{ form.post_content }}
              </td>
            </tr>

            <tr>
              <td style="background-color:#edeff3; padding: 20px; vertical-align: top;">개인정보 수집 동의</td>
              <td>
                <article style="float:left; margin-top: 15px; margin-left: 40px;">
                  <div class="radio">
                    <label for="agreeUseMyInfo1">
                      <input type="radio" name="agreeUseMyInfo" id="agreeUseMyInfo1" value="Y">
                      <span onkeypress="if(event.keyCode==13) {javascript:$$.KeyCheck('agreeUseMyInfo','Y'); return false;}" style="opacity: 0;"></span>
                      <span class="txt">예</span>
                    </label>
                    <label for="agreeUseMyInfo2">
                        <input type="radio" name="agreeUseMyInfo" id="agreeUseMyInfo2" value="N" checked="">
                        <span onkeypress="if(event.keyCode==13) {javascript:$$.KeyCheck('agreeUseMyInfo','N'); return false;}" style="opacity: 0;"></span>
                        <span class="txt">아니오</span>
                    </label>
                  </div>
                </article>
    
                <!-- 내용보기 가리기 -->
                <button type="button" class="button btnWmd moreBtn" data-toggle="collapse" data-target="#singoPerson" aria-expanded="false" aria-controls="singoPerson" onclick="toggleContent()">내용보기  
                <i class="fa fa-angle-down" aria-hidden="true"></i></button>
                
                <div class="moreView">
                  <article class="moreDoc collapse done" id="singoPerson" style="display: none;">
                    <h4 style="font-size:17px; color:#666;">1. 개인정보의 수집 및 이용 목적(개인정보보호법 제15조)</h4>
                    <p>도로정비 자동화 시스템은 관계법령 등에서 정하는 소관 업무의 수행을 위하여 다음과 같이 개인정보를 수집 및 이용합니다. 수집된 개인정보는 정해진 목적 이외의 용도로는 이용되지 않으며 수집 목적이 변경될 경우 사전에 알리고 동의를 받을 예정입니다. </p>
                    <p>※ 관계법령 등 : 민원사무 처리에 관한 법률 및 동법 시행령, 행정안전부의 설치와 운영에 관한 법률, 전자정부법 및 동법 시행령 등</p>
                    <ul>
                        <li>가. 민원사무 접수·처리·사후관리 서비스 제공민원신청서에 포함된 개인정보는 민원의 접수·처리 등 소관 업무 수행을 위해 행정·공공기관에서 이용합니다.</li>
                        <li>나. 타 행정·공공기관 시스템 이용민원사무의 전자적 처리를 위해 내부적으로 타 시스템 연계 및 이용 시 개인정보를 이용합니다.</li>
                        <li>다. 도로정비 자동화 시스템 정책지원 도로정비 자동화 시스템 서비스 향상 및 정책평가를 위하여 접수된 민원은 관계 법령에 따라 분석·평가 및 처리결과의 사후관리를 시행합니다.</li>
                    </ul>
                    <br>
                    <h4 style="font-size:17px; color:#666;">2. 수집하는 개인정보의 항목(개인정보보호법 제15조, 제16조)</h4>
                    <ul>
                        <li>가. 필수항목: 위치 정보</li>
                        <li>나. 선택항목: 성명, 기업명, 이메일 </li>
                        <li>다. 자동수집항목: IP(Internet Protocol)주소, 이용내용의 기록- 부정한 방법으로 타인명의를 사용하는 경우에 대비하기 위해 정보이용내역 등을 자동수집 합니다.</li>
                    </ul>
                    <p>※ 부정한 방법으로 타인명의 사용 시, 주민등록법 제37조(벌칙)에 의해 처벌 받을 수 있습니다. </p>
                    <br>
                    <h4 style="font-size:17px; color:#666;">3. 개인정보의 보유 및 이용기간(공공기록물 관리에 관한 법률 시행령 제26조)</h4>
                    <p>도로정비 자동화 시스템은 원칙적으로 개인정보 보존기간이 경과하거나, 처리목적이 달성된 경우에는 지체 없이 개인정보를 파기합니다. 다만, 다른 법령에 따라 보존하여야 하는 경우에는 그러하지 않을 수 있습니다.</p>
                    <ul>
                        <li><strong class="useAgreeFont2">1) 신고, 제안: 10년</strong></li>
                        <li><strong class="useAgreeFont2">2) 회원정보: 회원탈퇴시 즉시 파기</strong></li>
                        <li><strong class="useAgreeFont2">3) 자동수집항목 중 IP주소: 1년</strong></li>
                    </ul>
                    <br>
                    <h4 style="font-size:17px; color:#666;">4. 동의를 거부할 권리가 있다는 사실 및 동의 거부에 따른 불이익 내용(개인정보보호법 제16조)</h4>
                    <p>민원 신청 시 수집하는 필요한 최소한의 정보 외의 개인정보 수집에 동의를 거부할 권리가 있으나 최소한의 개인정보 수집동의 거부 시에는 민원 신청 서비스가 제한됩니다.</p>
                  </article>
                </div>
              </td>
            </tr>

          </table>

          <input type="hidden" id="latitude" name="latitude">
          <input type="hidden" id="longitude" name="longitude">

          <div class="btn-sub">
            <button type="button" class="btn-btn" style="box-shadow: 2px 2px 2px #dedede;"><a href="/post" style="color:white">이전 페이지로</a></button>
            <button type="submit" class="btn-s" style="box-shadow: 2px 2px 2px #dedede;">등록하기</button>
          </div>
      </div>
    </form>
            
    <script>
      // 폼 제출 이벤트
      document.querySelector('form').addEventListener('submit', function(e) {
        var agreeUseMyInfo = document.querySelector('input[name="agreeUseMyInfo"]:checked').value;
        if (agreeUseMyInfo === 'N') {
          alert('개인정보 수집에 동의해주세요'); // 사용자에게 알림
          e.preventDefault(); // 폼 제출 중단
        }
      });
    </script>
    </section>
    <!-- End Service Details Section -->

  </main>
  <!-- End #main -->

  
  
  <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>

  <script>

    function showPopup() {
      // 팝업창을 띄우는 코드 작성
      alert("개인정보 수집에 동의해야 등록할 수 있습니다.");
    }
  
    function register() {
      var agreeValue = document.querySelector('input[name="agreeUseMyInfo"]:checked').value;
      if (agreeValue === 'N') {
        showPopup();
      } else {
        // 등록 처리를 진행하는 코드 작성
        // ...
        // 등록 완료 메시지 출력 등
      }
    }

    function DropFile(dropAreaId, fileListId) {
      let dropArea = document.getElementById(dropAreaId);
      let fileList = document.getElementById(fileListId);
    
      function preventDefaults(e) {
        e.preventDefault();
        e.stopPropagation();
      }
    
      function highlight(e) {
        preventDefaults(e);
        dropArea.classList.add("highlight");
      }
    
      function unhighlight(e) {
        preventDefaults(e);
        dropArea.classList.remove("highlight");
      }
    
      function handleDrop(e) {
        unhighlight(e);
        let dt = e.dataTransfer;
        let files = dt.files;
    
        handleFiles(files);
    
        const fileList = document.getElementById(fileListId);
        if (fileList) {
          fileList.scrollTo({ top: fileList.scrollHeight });
        }
      }
    
      function handleFiles(files) {
        files = [...files];
        // files.forEach(uploadFile);
        files.forEach(previewFile);
      }
    
      function previewFile(file) {
        console.log(file);
        renderFile(file);
      }
    
      function renderFile(file) {
        let reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onloadend = function () {
          let img = dropArea.getElementsByClassName("preview")[0];
          img.src = reader.result;
          img.style.display = "block";
          handleFileUpload(file);
        };
      }
    
      dropArea.addEventListener("dragenter", highlight, false);
      dropArea.addEventListener("dragover", highlight, false);
      dropArea.addEventListener("dragleave", unhighlight, false);
      dropArea.addEventListener("drop", handleDrop, false);
    
      return {
        handleFiles
      };
    }
    
    const dropFile = new DropFile("drop-file", "files");
    
    
    const dropfile = document.getElementById('drop-file');
    const chooseFile = document.getElementById('chooseFile');
    const selectFile = document.getElementById('selectFile');
    const fileReset = document.getElementById('fileReset');
    const preview = document.getElementById('preview');

    dropfile.addEventListener('drop', function(event) {
      event.stopPropagation();
      event.preventDefault();
  
      const fileInput = document.getElementById("post_image"); // Change this line
      const file = event.dataTransfer.files[0];
      fileInput.files = event.dataTransfer.files;
      handleFileUpload(event.dataTransfer.files[0]);
    });
        
    chooseFile.addEventListener('change', function(event) {
        handleFileUpload(event.target.files[0]);
      });

    fileReset.addEventListener('click', function() {
      chooseFile.value = ''; // 파일 선택 초기화
      dropfile.value='';
      preview.src = '';
      preview.style.display = 'none';
      fileReset.style.display = 'none';

      // 테이블 초기화
      filename.textContent = '';
      filesize.textContent = '';
        
      selectFile.textContent = '파일 이름: (선택된 파일 없음)'; // 선택한 파일 초기화
  
      console.log('이미지 파일 업로드:', file);
      });
      let warningDisplayed = false;

      function handleFileUpload(file) {
        let warningDisplayed = false;
        if (file) {
          const fileName = file.name;
          const fileSize = formatFileSize(file.size);

          // 테이블 정보
          filename.textContent = fileName;
          filesize.textContent = fileSize;

          //selectFile.textContent = `선택한 파일: ${fileName} (${fileSize})`;

          var reader = new FileReader();
          reader.onload = function(e) {
            var imageData = e.target.result;
            var exifData = EXIF.readFromBinaryFile(imageData);

            if (exifData && exifData.GPSLatitude && exifData.GPSLongitude) {
              var latitude = calculateCoordinate(exifData.GPSLatitude);
              var longitude = calculateCoordinate(exifData.GPSLongitude);

              var gpsInfo = latitude + ", " + longitude;
              console.log("사진의 GPS 정보:", gpsInfo);


              document.getElementById('latitude').value = latitude;
              document.getElementById('longitude').value = longitude;


            } else {
              if (!warningDisplayed) {
                alert("GPS 정보가 포함된 이미지를 업로드 해주세요.");
                warningDisplayed = true;
              }
            }
          };

          reader.readAsArrayBuffer(file);
        }
      }
    
    function formatFileSize(size) {
      if (size === 0) {
        return '0 Bytes';
      }
      const units = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
      const k = 1024;
      const i = Math.floor(Math.log(size) / Math.log(k));
      return parseFloat((size / Math.pow(k, i)).toFixed(2)) + ' ' + units[i];
    }
    

    function calculateCoordinate(coordinates) {
      var degree = coordinates[0];
      var minute = coordinates[1];
      var second = coordinates[2];
      var coordinate = ((((degree * 60) + minute) * 60) + second) / 60 / 60;
      return parseFloat(coordinate);
    }

    // 개인정보 수집 동의 내용보기 버튼
    function toggleContent() {
      var singoPerson = document.getElementById("singoPerson");
      var moreBtn = document.querySelector(".moreBtn");
      var moreDoc = document.querySelector('.moreDoc');
      var angleIcon = document.querySelector('.moreBtn i');

      if (singoPerson.style.display === "none") {
        // 숨겨진 상태일 때 보이도록 변경
        singoPerson.style.display = "block";
        moreBtn.classList.add("on");
        moreBtn.innerHTML = '내용닫기  <i class="fa fa-angle-up" aria-hidden="true"></i>';
      } else {
        // 보여지는 상태일 때 숨기도록 변경
        singoPerson.style.display = "none";
        moreBtn.classList.remove("on");
        moreBtn.innerHTML = '내용보기  <i class="fa fa-angle-down" aria-hidden="true"></i>';
      }
    }
    
    document.querySelector('.moreBtn').addEventListener('click', toggleContent);

    
  </script>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>BBUMAS</span>
          </a>
          <p>Black Box Urban Maintenance Automation System</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Policy</h4>
          <ul class="policy_link">
            <li>
              <a href="#" onclick="window.open('/login/policy','개인정보 처리방침', 'resizable=no width=800 height=600'); return false">개인정보 처리방침</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/">Main</a></li>
            <li><a href="/video">Black box Upload</a></li>
            <li><a href="/post">Alert Board</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/join">Join</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            대전 서구 문정로48번길 30 <br>
            (탄방동)<br>
            <br>
            <!-- <strong>Phone:</strong> +1 5589 55488 55<br> -->
            <strong>Email:</strong> ktaivle@kt.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>KT</span></strong>. All Rights Reserved.
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{%static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{%static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{%static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{%static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{%static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{%static 'assets/js/main.js' %}"></script>

</body>

</html>