<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BBUMAS - 블랙박스 도로정비 시스템</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  
  <!-- Favicons -->
  <link href="{%static 'assets/img/car_favicon.png' %}" rel="icon">
  <link href="{%static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{%static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Logis
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>BBUMAS</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/" class="active">Home</a></li>
          {% if user.is_authenticated and user.special %}
            <li><a href="/video">Video</a></li>
          {% endif %}
          <li class="dropdown"><a href="/post"><span>Post</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/post">신고 게시판 목록</a></li>
              {% if user.is_authenticated %}
                <li><a href="/post/posting">신고하기</a></li>
              {% endif %}
              <li><a href="/post/faq">FAQ</a></li>
            </ul>
          </li>
          <li><a href="/map">Map</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}" class="get-a-quote">Logout</a></li>
          {% else %}
            <li><a class="get-a-quote" href="/login">Login</a></li>
          {% endif %}
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2 data-aos="fade-up" style="font-family: 'GmarketSansMedium';">블랙박스를 활용한 <br> 도심정비 자동화 시스템</h2>
          <br>
          <!-- <p data-aos="fade-up" data-aos-delay="100">Facere distinctio molestiae nisi fugit tenetur repellat non praesentium nesciunt optio quis sit odio nemo quisquam. eius quos reiciendis eum vel eum voluptatem eum maiores eaque id optio ullam occaecati odio est possimus vel reprehenderit</p> -->

          <form action="http://127.0.0.1:8000/map/" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
            <input type="text" class="form-control" name="q" id="search-input" placeholder="점검이 필요한 도시를 검색해보세요.">
            <button type="submit" class="btn btn-primary">Search</button>
          </form>

          <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">

            
    
            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span id="videoDamageCount1" data-purecounter-start="0" data-purecounter-duration="1" class="purecounter"></span>
                <p style="font-size: 14px;">비디오 파손 검출량</p>
              </div>
            </div><!-- End Stats   Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span id="postDamageCount1" data-purecounter-start="0" data-purecounter-duration="1" class="purecounter"></span>
                <p style="font-size: 14px;">신고 건수</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span id="totalDamageCount1" data-purecounter-start="0" data-purecounter-duration="1" class="purecounter"></span>
                <p style="font-size: 14px;">총 처리 건수</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
                <p style="font-size: 14px;">운행 차량</p>
              </div>
            </div><!-- End Stats Item -->

          </div>
        </div>

        <!--<div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <img src="assets/img/autonomous-car.png" class="img-fluid mb-3 mb-lg-0" alt="">
        </div>-->
        

        <script>

          var locations_post = {{ location_posts|safe }};
          var locations_video = {{ location_videos|safe }};
      
          var postDamageCount = locations_post.length;
          var videoDamageCount = locations_video.length;
          var totalDamageCount = locations_post.length + locations_video.length;
      
      
          document.getElementById('postDamageCount1').setAttribute("data-purecounter-end", postDamageCount);
          document.getElementById('videoDamageCount1').setAttribute("data-purecounter-end", videoDamageCount);
          document.getElementById('totalDamageCount1').setAttribute("data-purecounter-end", totalDamageCount);
        </script>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">


    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-video"></i></div>
            <div>
              <a href="/video" class="readmore stretched-link"><h4 class="title">블랙박스 영상 분석</h4></a>
              <!-- <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p> -->
              <a href="/video" class="readmore stretched-link"><span>영상 업로드하기</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><i class="fa-sharp fa-solid fa-circle-exclamation"></i></div>
            <div>
              <a href="/post" class="readmore stretched-link"></a><h4 class="title">신고 게시판</h4></a>
              <!-- <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p> -->
              <a href="/post" class="readmore stretched-link"><span>게시글 올리기</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-map-location-dot"></i></div>
            <div>
              <a href="/map" class="readmore stretched-link"></a><h4 class="title">파손 현황 지도</h4></a>
              <!-- <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p> -->
              <a href="/map" class="readmore stretched-link"><span>지도 확인하기</span><i class="bi bi-arrow-right"></i></a>
            </div>

        </div>

      </div>
    </section><!-- End Featured Services Section -->


    <!-- ======= About Us Section ======= -->
    <section id="about" class="about pt-0">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
            <img src="{%static 'assets/img/bbox.png' %}" class="img-fluid" alt="">
            <a href="https://youtu.be/75LI9MI9eEo" class="glightbox play-btn"></a>
          </div>
          <div class="col-lg-6 content order-last  order-lg-first">
            <h3>About Us</h3>
            <p>
              불법주정차 단속 차량의 블랙박스 영상을 분석하여 도심 속 정비가 필요한 현장을 파악합니다.
            </p>
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bi bi-broadcast"></i>
                <div>
                  <h5>도심 속 파손 탐지</h5>
                  <p>영상 분석 및 객체 탐지를 통해 파손된 시설물을 신속하게 파악합니다. </p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-pencil-square"></i>
                <div>
                  <h5>신고 게시판 운영</h5>
                  <p>도로 위 불편을 주는 시설물 등에 대해 신고할 수 있습니다.</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-geo-alt"></i>
                <div>
                  <h5>파손 현황 관리</h5>
                  <p>지도를 통해 파손이 감지된 장소를 파악할 수 있습니다.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->


    
    <!-- ======= Services Section ======= -->
    <section id="service" class="services pt-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Our Services</span>
          <h2>Our Services</h2>
        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <div class="card-img">
                <img src="{%static 'assets/img/video.png' %}" alt="" class="img-fluid">
              </div>
              <h3><a href="/video" class="stretched-link">블랙박스 영상 분석</a></h3>
              <p>YOLOv8을 이용하여 도로의 손상된 부분을 감지합니다.  감지된 객체는 관리자가 검토 후 관련 부서로 전달합니다.</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <div class="card-img">
                <img src="{%static 'assets/img/post.png' %}" alt="" class="img-fluid">
              </div>
              <h3><a href="/post" class="stretched-link">신고 게시판</a></h3>
              <p>도로의 손상된 부분을 발견 시 직접 신고할 수 있습니다.  사진의 GPS 정보를 추출하여 수리가 필요한 시설물의 위치 정보를 자동으로 데이터베이스에 업데이트합니다.</p>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <div class="card-img">
                <img src="{%static 'assets/img/mapimg.png' %}" alt="" class="img-fluid">
              </div>
              <h3><a href="/map" class="stretched-link">파손 현황 지도</a></h3>
              <p>업로드된 동영상과 신고 게시판의 위치 및 손상된 시설물 정보를 지도 상으로 확인할 수 있습니다.</p>
            </div>
          </div><!-- End Card Item -->

          <!-- <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/trucking-service.jpg" alt="" class="img-fluid">
              </div>
              <h3><a href="service-details.html" class="stretched-link">Trucking</a></h3>
              <p>Dicta quam similique quia architecto eos nisi aut ratione aut ipsum reiciendis sit doloremque oluptatem aut et molestiae ut et nihil</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/packaging-service.jpg" alt="" class="img-fluid">
              </div>
              <h3><a href="service-details.html" class="stretched-link">Packaging</a></h3>
              <p>Illo consequuntur quisquam delectus praesentium modi dignissimos facere vel cum onsequuntur maiores beatae consequatur magni voluptates</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/warehousing-service.jpg" alt="" class="img-fluid">
              </div>
              <h3><a href="service-details.html" class="stretched-link">Warehousing</a></h3>
              <p>Quas assumenda non occaecati molestiae. In aut earum sed natus eatae in vero. Ab modi quisquam aut nostrum unde et qui est non quo nulla</p>
            </div>
          </div> -->

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container" data-aos="zoom-out">

        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            {% if user.is_authenticated %}
            {%else%}
              <h3>Join Us</h3>
              <p> 로그인을 통해 다양한 서비스를 이용할 수 있습니다. </p>
              <a class="cta-btn" href="/login">Login</a>
            {%endif%}
          </div>
        </div>

      </div>
    </section><!-- End Call To Action Section -->

    
    

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="slides-1 swiper" data-aos="fade-up">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{%static 'assets/img/testimonials/11.jpg' %}" class="testimonial-img" alt="">
                <h3>Injae Lee</h3>
                <h4>AI, BE, DATA, DOC</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  한 명은 아무도 없는 것이다.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{%static 'assets/img/testimonials/33.jpg' %}" class="testimonial-img" alt="">
                <h3>Sungkyun Ahn</h3>
                <h4>AI, BE, DB, DATA</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  그 사람의 손이 한 일은 그 사람에게로 돌아간다.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{%static 'assets/img/testimonials/44.jpg' %}" class="testimonial-img" alt="">
                <h3>Taejong Yu</h3>
                <h4>AI, BE, DATA, PT</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  진실을 너무 바짝 뒤쫓아서는 안 된다. 당신의 이가 깨질 수 있다.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{%static 'assets/img/testimonials/55.jpg' %}" class="testimonial-img" alt="">
                <h3>Changyul Lee</h3>
                <h4>FE, UI/UX, DOC, DATA</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  늦었다고 생각할 때가 진짜 늦었다.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{%static 'assets/img/testimonials/22.jpg' %}" class="testimonial-img" alt="">
                <h3>Taegyung Kang</h3>
                <h4>DB, BE, DATA</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  평범한 사람들에게는 보통이 최고이다.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{%static 'assets/img/testimonials/66.jpg' %}" class="testimonial-img" alt="">
                <h3>Daeun Kwak</h3>
                <h4>FE, UI/UX, DOC, DATA</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  나의 장점을 들어 남의 단점을 찌르지 말라.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{%static 'assets/img/testimonials/77.jpg' %}" class="testimonial-img" alt="">
                <h3>Yerin Kim</h3>
                <h4>FE, UI/UX, AI, DATA</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  내가 원하지 않는 일은 남에게 하지 말라.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>BBUMAS</span>
          </a>
          <p>Black Box Urban Maintenance Automation System</p>
          {% comment %} <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div> {% endcomment %}
        </div>

        {% comment %} <div class="col-lg-2 col-6 footer-links">
          <h4>Policy</h4>
          <ul class="policy_link">
            <li>
              <a href="#" onclick="window.open('/login/policy','개인정보 처리방침', 'resizable=no width=800 height=600'); return false">개인정보 처리방침</a>

            </li>
          </ul>
        </div> {% endcomment %}

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/join">Join</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="/">Main</a></li>
            {% if user.is_authenticated and user.special %}
              <li><a href="/video">Upload Videos</a></li>
            {% endif %}
            <li><a href="/post">Alert Board</a></li>
            {% if user.is_authenticated %}
              <li><a href="/post/posting">Write Reports</a></li>
            {% endif %}
            <li><a href="/post/faq">FAQ</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Policy</h4>
          <a href="#" style="color: #ffffff99;" onclick="window.open('/login/policy','개인정보 처리방침', 'resizable=no width=800 height=600'); return false">개인정보 처리방침</a>
          <br><br><br>
          
          <h4>Contact Us</h4>
          <p style="color: #ffffff99;">
            대전 서구 문정로48번길 30 <br>
            (탄방동)<br>
            <!-- <strong>Phone:</strong> +1 5589 55488 55<br> -->
            <strong style="color: #fff;">Email:</strong> ktaivle@kt.com<br>
          </p>
        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>KT</span></strong>. All Rights Reserved.
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
  </a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{%static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{%static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{%static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{%static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{%static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{%static 'assets/js/main.js' %}"></script>

  

</body>
</html>