<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Damage Status Map</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{%static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{%static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{%static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Logis
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== hi --> 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>BBUMAS</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/video">Video</a></li>
          <li class="dropdown"><a href="/post"><span>Post</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/post">신고 게시판 목록</a></li>
              <li><a href="/post/posting">신고하기</a></li>
              <li><a href="/post/faq">FAQ</a></li>
            </ul>
          </li>
          <li><a href="/map" class="active">Map</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}" class="get-a-quote">Logout</a></li>
          {% else %}
            <li><a class="get-a-quote" href="/login">Login</a></li>
          {% endif %}
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="short-page-header d-flex align-items-center" style="background-image: url({%static 'assets/img/page-header.jpg' %});">
        <div class="container position-relative">

        </div>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="container">
          <div class="row gy-4 d-flex justify-content-between">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
              <br>
              <!-- <p data-aos="fade-up" data-aos-delay="100">Facere distinctio molestiae nisi fugit tenetur repellat non praesentium nesciunt optio quis sit odio nemo quisquam. eius quos reiciendis eum vel eum voluptatem eum maiores eaque id optio ullam occaecati odio est possimus vel reprehenderit</p> -->
    
              <div class="container" data-aos="fade-up">
                <form id="search-form" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
                    <input id="search-input" type="text" class="form-control" placeholder="점검이 필요한 도시를 검색해보세요.">
                    <button type="submit" class="search-btn" style="background-color: #0e1d34d2; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Search</button>
                </form>
              </div>
              <br>
              
    
              <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">
    
                <div class="col-lg-3 col-6">
                  <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                    <p>파손 검출량</p>
                  </div>
                </div><!-- End Stats Item -->
    
                <div class="col-lg-3 col-6">
                  <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                    <p>신고 건수</p>
                  </div>
                </div><!-- End Stats Item -->
    
                <div class="col-lg-3 col-6">
                  <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
                    <p>누적 처리 건수</p>
                  </div>
                </div><!-- End Stats Item -->
    
                <div class="col-lg-3 col-6">
                  <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                    <p>운행 차량</p>
                  </div>
                </div><!-- End Stats Item -->
    
              </div>
            </div>
            
    
            <!--<div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
              <img src="assets/img/autonomous-car.png" class="img-fluid mb-3 mb-lg-0" alt="">
            </div>-->
      
    
          </div>
        </div>
        <br>
        <div class="accordion-item">
          <h3 class="accordion-button collapsed">
            {% comment %} <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-8"> {% endcomment %}
              <img src="{% static "assets/img/green.png" %}" alt="" style="margin-left: 2%;">
              볼라드 손상
              <img src="{% static "assets/img/yellow.png" %}" alt="" style="margin-left: 9px;">
              도로 표지 손상
              <img src="{% static "assets/img/orange.png" %}" alt="" style="margin-left: 9px;">
              횡단보도 손상
              <img src="{% static "assets/img/red.png" %}" alt="" style="margin-left: 9px;">
              도로분리대 손상
              <img src="{% static "assets/img/skyblue.png" %}" alt="" style="margin-left: 9px;">
              방지턱 손상
              <img src="{% static "assets/img/blue.png" %}" alt="" style="margin-left: 9px;">
              시선 유도봉 손상
              <img src="{% static "assets/img/pink.png" %}" alt="" style="margin-left: 9px;">
              제설함 손상
              <img src="{% static "assets/img/purple.png" %}" alt="" style="margin-left: 9px;">
              포트홀
            {% comment %} </button> {% endcomment %}
          </h3>
          {% comment %} <div id="faq-content-8" class="accordion-collapse collapse" data-bs-parent="#faqlist">
            <div class="accordion-body">
              <hr style="width: 35%; position: relative;">
              <img src="{% static "assets/img/map_sign.png" %}" alt="" style="width: 35%; position: relative; opacity: 0.7;">
              <hr style="width: 35%; position: relative;">
            </div>
          </div> {% endcomment %}
        </div>
        <br>
        {% comment %} <div>
          <img src="{% static "assets/img/green.png" %}" alt="" style="margin-left: 40%;">
          볼라드 손상
          <img src="{% static "assets/img/yellow.png" %}" alt="" style="margin-left: 5px;">
          도로 표지 손상
          <img src="{% static "assets/img/orange.png" %}" alt="" style="margin-left: 5px;">
          횡단보도 손상
          <img src="{% static "assets/img/red.png" %}" alt="" style="margin-left: 5px;">
          도로분리대 손상
          <img src="{% static "assets/img/skyblue.png" %}" alt="" style="margin-left: 5px;">
          방지턱 손상
          <img src="{% static "assets/img/blue.png" %}" alt="" style="margin-left: 5px;">
          시선 유도봉 손상
          <img src="{% static "assets/img/pink.png" %}" alt="" style="margin-left: 5px;">
          제설함 손상
          <img src="{% static "assets/img/purple.png" %}" alt="" style="margin-left: 5px;">
          포트홀
        </div> {% endcomment %}

        <div>
          <div id="map" style="width: 100%; height: 700px;"></div>
          <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e6ea244010ed3342eff6810e6610527d&libraries=services"></script>
          <!--<iframe style="border:0; width: 100%; height: 340px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>-->
          <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                mapOption = { 
                    center: new kakao.maps.LatLng(36.34892564237924, 127.38488260807728), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };
            
            // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
              var map = new kakao.maps.Map(mapContainer, mapOption); 
              var geocoder = new kakao.maps.services.Geocoder();

            // 검색 폼과 입력 필드를 변수로 가져옵니다
              var searchForm = document.getElementById('search-form');
              var searchInput = document.getElementById('search-input');

            // 검색 폼의 제출 이벤트를 처리합니다
              searchForm.addEventListener('submit', function(e) {
                    e.preventDefault();

                    // 입력된 주소로 좌표를 검색합니다
                    geocoder.addressSearch(searchInput.value, function(result, status) {
                        // 정상적으로 검색이 완료됐으면 
                        if (status === kakao.maps.services.Status.OK) {
                            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                            map.setCenter(coords);
                        } else {
                            // 검색 결과가 없거나 에러가 발생한 경우
                            alert('주소를 찾을 수 없습니다.');
                        }
                    });
              });
              var urlParams = new URLSearchParams(window.location.search);
              var searchQuery = urlParams.get('q');
              if (searchQuery) {
                  searchInput.value = searchQuery;
                  // 검색 폼 제출 이벤트를 수동으로 호출하여 검색 결과를 표시합니다
                  var submitEvent = new Event('submit');
                  searchForm.dispatchEvent(submitEvent);
              }

              // Django View에서 넘겨받은 데이터를 JavaScript 변수로 만듭니다.
              var locations_post = {{ location_posts|safe }};
              // 마커를 클릭했을 때 이미지를 표시할 인포윈도우를 생성합니다
          
              var infowindowImage = new kakao.maps.InfoWindow({
                removable: true // 인포윈도우를 닫을 수 있도록 설정합니다
              });
              // 각 위치에 대해 마커를 생성하고 지도에 추가합니다.
              var objectColors = {
                '0': '{% static "assets/img/green.png" %}', 
                '2': '{% static "assets/img/orange.png" %}', 
                '3': '{% static "assets/img/pink.png" %}', 
                '4': '{% static "assets/img/purple.png" %}', 
                '5': '{% static "assets/img/red.png" %}', 
                '7': '{% static "assets/img/yellow.png" %}', 
                '8': '{% static "assets/img/skyblue.png" %}', 
                '9': '{% static "assets/img/blue.png" %}',  
                'bollard': '{% static "assets/img/green.png" %}', 
                'crosswalk': '{% static "assets/img/orange.png" %}', 
                'snowbox': '{% static "assets/img/pink.png" %}', 
                'pothole': '{% static "assets/img/purple.png" %}', 
                'road_barrier_damage': '{% static "assets/img/red.png" %}', 
                'lane': '{% static "assets/img/yellow.png" %}', 
                'speed_bump': '{% static "assets/img/skyblue.png" %}', 
                'guide_post': '{% static "assets/img/blue.png" %}',
              };


              // 각 위치에 대해 마커를 생성하고 지도에 추가합니다.
              for (var i = 0; i < locations_post.length; i++) {
                var position = new kakao.maps.LatLng(locations_post[i][0], locations_post[i][1]);
                var object = locations_post[i][2].toString(); // 객체 정보 

                var imageSrc = objectColors[object];

                if (imageSrc) {
                  var imageSize = new kakao.maps.Size(30, 30);
                  var imageOption = { offset: new kakao.maps.Point(30, 30) };
                
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: position,
                    image: new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption)
                });
            
                // 마커에 대한 주소를 가져오는 함수
                getAddress(marker, position, locations_post[i][2]);
                }
              }

                // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
              function makeOverListener(map, marker, infowindow) {
                return function() {
                    infowindow.open(map, marker);
                };
              } 
              // 인포윈도우를 닫는 클로저를 만드는 함수입니다
              function makeOutListener(infowindow) {
                return function() {
                    infowindow.close();
                };
              } 
              
              function handleClickMarker(map, marker, infowindowImage, imageSrc) {
                return function() {
                    var content =
                        '<div style="padding:5px;">' +
                        '<img src="' + imageSrc + '" width="200" height="150">' +
                        '</div>';
                    infowindowImage.setContent(content);
                    infowindowImage.open(map, marker);
                };
              }

              function getAddress(marker, position, markerId) {
                geocoder.coord2RegionCode(position.getLng(), position.getLat(), function(result, status) {
                    if (status === kakao.maps.services.Status.OK) {
                        for (var i = 0; i < result.length; i++) {
                            // 행정동의 region_type은 'H'입니다.
                            if (result[i].region_type === 'H') {
                                var address = result[i].region_3depth_name;
                                var content = '<div>마커 ID: ' + markerId + '<br>' + address + '</div>';
            
                                // 마커에 표시할 인포윈도우를 생성합니다
                                var infowindow = new kakao.maps.InfoWindow({
                                    content: content // 인포윈도우에 표시할 내용
                                });
            
                                // 마커를 클릭했을 때 이미지를 표시하는 이벤트 리스너를 등록합니다
                                kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
            
                                // 마커에서 마우스가 벗어났을 때 인포윈도우를 닫는 이벤트 리스너를 등록합니다
                                kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
            
                                // 마커를 클릭했을 때 이미지를 표시하는 이벤트 리스너를 등록합니다
                                kakao.maps.event.addListener(marker, 'click', handleClickMarker(map, marker, infowindowImage, '/static/images/aivle.png'));
            
                                // 주소 정보를 가져왔으면 반복문을 종료합니다.
                                break;
                            }
                        }
                    }
                });
            }
              </script>
        </div>

        <div class="row gy-4 mt-4">

          <div class="col-lg-4">

            <div class="info-item d-flex">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h4>Location:</h4>
                <p>대전광역시</p>
              </div>
            </div>
          </div>

          <!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>BBUMAS</span>
          </a>
          <p>Black Box Urban Maintenance Automation System</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Policy</h4>
          <ul class="policy_link">
            <li>
              <a href="#" onclick="window.open('/login/policy','개인정보 처리방침', 'resizable=no width=800 height=600'); return false">개인정보 처리방침</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/">Main</a></li>
            <li><a href="/video">Black box Upload</a></li>
            <li><a href="/post">Alert Board</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/join">Join</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            대전 서구 문정로48번길 30 <br>
            (탄방동)<br>
            <br>
            <!-- <strong>Phone:</strong> +1 5589 55488 55<br> -->
            <strong>Email:</strong> ktaivle@kt.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>KT</span></strong>. All Rights Reserved.
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{%static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{%static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{%static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{%static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{%static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File .-->
  <script src="{%static 'assets/js/main.js' %}"></script>

</body>

</html>